# Python bytecode
__pycache__/
*.pyc

# Virtual environments
venv/
ENV/
env/

# Model artifacts
*.pkl

# Packet capture files
*.pcap

# Output from CICFlowMeter
*.csv
data/extracted_csv/output_flows.csv

# Notebooks checkpoints
*.ipynb_checkpoints

# VS Code project settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db
